/* Table of Contents */

/* Global Styling */
body{
  background-color: #fff;
}

p{
  font-size: 1.5em;
}

a{
  color: #283593;
}

/* Search-Directions Styling */
#directions{
  width: 70%;
}

/* Arist Heading Styling */
.artist-search-results h1{
  text-transform: uppercase;
}

#artist-img {
  border: .2em solid #283593;
}

/* Hidden Div: Top Tracks Styling */
.single-concert-details{
  padding: 1em;
}

.concert-search .single-concert-details:nth-of-type(2n){
  background-color: #e8eaf6;
}

.top-tracks-search{
  display: none;
}

.top-tracks{
  padding: .3em;

}

.votes-padding{
  padding-left: .4em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.single-track{
  width: 28%;
  height: 28%;
  display: inline-block;
  border: .2em solid #283593;
  padding: 1em;
  margin: .3em;
}

.single-track form, p.votes-checkbox-wrapper{
  margin-bottom: 0;
}

.track-name{
  font-weight: bold;
}

.submit-votes{
  margin: 2.5em 0 0 1.2em;
}

/* Button Styling */
button, input[type="submit"]{
  background-color: #283593;
  color: #e8eaf6;
  font-weight: normal;
}

button:hover, button:focus, input[type="submit"]:hover {
  opacity: .85;
  color: #fff;
}

/* Footer Styling */
footer{
  background-color: #1a237e;
  color: #8c9eff;
  padding: 2em 4em;

}

footer p{
  font-size: .8em;
  margin-bottom: 0;
}

footer a{
  color: #e1f5fe;
  opacity: .9;
  text-decoration: none;
}

footer a:hover{
  color: #304ffe;
}
